<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico"/>
    <!--引入第三方框架UI-->
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./fonts/iconfont.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/brand.css">
    <!--<script type="text/javascript" src="./lib/less/less.js"></script>-->
    <title>哪个牌子好,十大品牌排行榜</title>
</head>
<body>
<!--头部-->
<header id="header" class="clearfix">
    <div class="logo"><a href="index.html"><img src="images/logo.png" alt="首页"/></a></div>
    <div class="app"><a href="#"><i class="iconfont icon-appxiazai"></i>APP下载</a></div>
</header>
<!--搜索-->
<section id="search">
    <div class="searchtxt">
        <input type="search" name="key" id="" placeholder="请输入你想比价的商品"/>
    </div>
    <div class="searchbtn">
        <input type="button" value="搜索"/>
    </div>
</section>
<!--分类-->
<div id="classify">
    <!--分页路径导航-->
    <div class="nav">
        <ol class="breadcrumb">
            <li class="glyphicon glyphicon-menu-right"><a href="index.html">首页</a></li>
            <li class="glyphicon glyphicon-menu-right"><a href="brandTitle.html">品牌大全</a></li>
            <li class="glyphicon glyphicon-menu-right">平板电视哪个牌子好</li>
        </ol>
    </div>
    <h3>哪个牌子好</h3>
    <!--十大品牌列表-->
    <div class="classlist">
        <!--<ul>-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<i>1</i>-->
        <!--<div class="content">-->
        <!--<h4>海信平板电视</h4>-->
        <!--<p>30天全网销量：524180件</p>-->
        <!--</div>-->
        <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<i>2</i>-->
        <!--<div class="content">-->
        <!--<h4>长虹平板电视</h4>-->
        <!--<p>30天全网销量：524180件</p>-->
        <!--</div>-->
        <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<i>3</i>-->
        <!--<div class="content">-->
        <!--<h4>TCL平板电视</h4>-->
        <!--<p>30天全网销量：524180件</p>-->
        <!--</div>-->
        <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<i>4</i>-->
        <!--<div class="content">-->
        <!--<h4>创维平板电视</h4>-->
        <!--<p>30天全网销量：524180件</p>-->
        <!--</div>-->
        <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <div class="load-container load4">
            <div class="loader">Loading...</div>
        </div>
    </div>
    <h3>产品销量排行</h3>
    <!--品牌产品销量排行-->
    <div class="product-sales">
        <!--<div class="media">-->
        <!--<div class="media-left">-->
        <!--<a href="#">-->
        <!--<img src="http://pro.zuyushop.com:8015/ProPic/201510/Thumb/Thumb_201510001104382491.jpg"-->
        <!--alt="乐视TV(Letv) 超3 X55 55英寸智能LED液晶 超级电视 4K超清电视" width="100" height="100">-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="media-body">-->
        <!--<h5 class="media-heading"><a href="3">-->
        <!--乐视TV(Letv) 超3 X55 55英寸智能LED液晶 超级电视 4K超清电视-->
        <!--</a>-->
        <!--</h5>-->

        <!--<div class="price">￥3266.00<em class="star5"></em></div>-->
        <!--<p><span>报价(6)</span><em>全网评论(1326)</em></p>-->
        <!--</div>-->
        <!--</div>-->
        <div class="load-container load4">
            <div class="loader">Loading...</div>
        </div>
    </div>
    <h3>最新评论</h3>

    <div class="product-discuss">
        <!--<ul>-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<div class="pic">-->
        <!--<img src="http://www.zuyushop.com:8013/ProPic/20172/small80/Thumb_2017020009560971043.png"-->
        <!--width="80" alt="飞利浦(PHILIPS)55PUF6056/T3 55英寸 4K超高清智能电视">-->
        <!--</div>-->
        <!--飞利浦(PHILIPS)55PUF6056/T3 55英寸 4K超高清智能电视-->
        <!--</a>-->

        <!--<div class="discussbox">-->
        <!--<a href="#">-->
        <!--<div class="name">-->
        <!--136*****29：<em class="star5"></em><span>2017/6/24</span>-->
        <!--</div>-->
        <!--<div class="con">-->
        <!--和此卖家交流，不由得精神为之一振，自觉七经八脉为之一畅，我在JD买了这么多年，所 谓阅商无数，但与卖家您交流，我只想说，老板你实在是太好了，你的高尚情操太让人感动-->
        <!--了，本人对此卖家之仰慕如滔滔江水连绵不绝，海枯石烂，天崩地裂，永不变心。交易成功 后，我的心情是久久不能平静，自古英雄出少年，卖家年纪轻轻，就有经天纬地之才，定国-->
        <!--安邦之智，而今，天佑我大中华，沧海桑田 50 年，神州平地一声雷，飞沙走石，大雾迷 天，朦胧中，只见顶天立地一金甲天神立于天地间，花见花开，人见人爱，这位英雄手持双-->
        <!--斧，二目如电，一斧下去，混沌初开，二斧下去，女娲造人，三斧下去，小生倾倒。得此大 英雄，实乃国之幸也，民之福，人之初也，怎不叫人喜极而泣看着交易成功，我竟产生-->
        <!--出一种无以名之的悲痛感啊， 这么好的卖家， 如果将来我再也遇不到了， 那我该怎么办？ 直到我毫不犹豫地把卖家的店收藏了， 我内心的那种激动才逐渐平静下来， 可是我立刻想到，-->
        <!--这么好的卖家，倘若别人看不到，那么不是浪费心血吗？经过痛苦的思想斗争，我终于下定 决心，牺牲小我，奉献大我。我要以此评价奉献给世人赏阅，我要给好评评到所有人-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <p>暂无评论数据</p>
        <div class="load-container load4">
            <div class="loader">Loading...</div>
        </div>
    </div>
</div>
<!--底部-->
<section id="footer">
    <div class="login clearfix">
        <div><a href="#" class="btn btn-info">登录</a></div>
        <div><a href="#" class="btn btn-info">注册</a></div>
        <div><a href="#" class="btn btn-info">反馈</a></div>
        <div><a href="#" class="btn btn-info">回到顶部</a></div>
    </div>
    <div class="footer">
        <p>
            <a href="#">手机APP下载</a>
            <a href="#">趣买手机版</a>
            --掌上比价平台
        </p>

        <p>比价 · 折扣，汇聚全网最优质的商品</p>
    </div>
</section>

<!--这里是十大品牌列表模板-->
<script type="text/html" id="brandtmp">
    <ul>
        {{if result}}
        {{each result as value i}}
        <li>
            <a href="#">
                <i>1</i>

                <div class="content">
                    <h4>{{value.brandName}}</h4>

                    <p>{{value.brandInfo}}</p>
                </div>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </a>
        </li>
        {{/each}}
        {{/if}}
    </ul>
</script>

<!--这是品牌销量模板-->
<script type="text/html" id="salestmp">
    {{if result}}
    {{each result as value i}}
    <div class="media">
        <div class="media-left">
            <a href="#">
                {{#value.productImg}}
            </a>
        </div>
        <div class="media-body">
            <h5 class="media-heading"><a href="#">
                {{value.productName}}
            </a>
            </h5>

            <div class="price">{{value.productPrice}}<em class="star5"></em></div>
            <p><span>{{value.productQuote}}</span><em>{{value.productCom}}</em></p>
        </div>
    </div>
    {{/each}}
    {{/if}}
</script>

<!--这里是评论模板-->
<script type="text/html" id="discusstmp">
    <ul>
        {{if result}}
        {{each result as value i}}
        <li>
            <a href="#">
                <div class="pic">
                    {{#productImg}}
                </div>
                {{productName}}
            </a>

            <div class="discussbox">
                <a href="#">
                    <div class="name">
                        {{value.comName}}：<em class="star5"></em><span>{{value.comTime}}</span>
                    </div>
                    <div class="con">
                        {{value.comContent}}
                    </div>
                </a>
            </div>
        </li>
        {{/each}}
        {{/if}}
    </ul>
</script>
<!--js文件 注意引入的依赖关系-->
<script src="./lib/jquery/jquery.min.js"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/template.js"></script>
<script src="./js/brand.js"></script>
</body>
</html>